.slider__part-up, .slider__part-down, .footer-container__information__nav-list, .header__nav-list, .social-media, button, .button-arrow-background, .button-transparent:hover .button-arrow-background__primary {
  transition: all 0.3s ease-out;
}

button {
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 5px;
}

.button-primary {
  background-color: #F58021;
  padding: 26px 30px;
}
.button-primary:hover {
  background-color: #D26004;
}

.button-transparent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.button-transparent__light {
  border: 2px solid #FFFFFF;
}
.button-transparent__light:hover {
  background-color: #00A092;
  color: #FFFFFF;
}
.button-transparent__dark {
  border: 2px solid #20113D;
  color: #20113D;
  padding: 2.5rem 4rem;
}
.button-transparent__dark :hover {
  background-color: #20113D;
  color: #FFFFFF;
}
.button-transparent__text {
  padding: 0 10px;
}

.button-arrow {
  display: block;
  width: 30px;
  height: 20px;
}
.button-arrow__right {
  background: url("../../assets/icons/arrow-right.svg") no-repeat center;
}
.button-arrow__color {
  background: url("../../assets/icons/arrow-right-color.svg") no-repeat center;
}
.button-arrow__dark {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}
.button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__color {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__light {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__dark {
  background: url("../../assets/icons/arrow-right-light.svg") no-repeat center;
}

.button-arrow-background__primary {
  background-color: #F58021;
  padding: 2.6rem;
}

.button-transparent:hover .button-arrow-background__primary {
  background-color: #D26004;
}

.arrow-navigation {
  border-radius: 5px;
}
.arrow-navigation__dark {
  background: transparent;
  border: 2px solid #20113D;
}
.arrow-navigation__dark:hover {
  background-color: #20113D;
  color: #FFFFFF;
}
.arrow-navigation__light {
  background: transparent;
  border: 2px solid #FFFFFF;
}
.arrow-navigation__light:hover {
  background-color: #FFFFFF;
  color: #20113D;
}

.arrow {
  display: block;
  width: 30px;
  height: 30px;
  padding: 15px 15px 14px 15px;
}
.arrow__left-dark {
  background: url("../../assets/icons/arrow-left-dark.svg") no-repeat center;
}
.arrow__left-dark:hover {
  background: url("../../assets/icons/arrow-left-white.svg") no-repeat center;
}
.arrow__right-dark {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}
.arrow__right-dark:hover {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}
.arrow__left-white {
  background: url("../../assets/icons/arrow-left-white.svg") no-repeat center;
}
.arrow__left-white:hover {
  background: url("../../assets/icons/arrow-left-dark.svg") no-repeat center;
}
.arrow__right-white {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}
.arrow__right-white:hover {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}

.button-caption {
  background-color: #00A092;
  color: #FFFFFF;
  padding: 2.5rem 8.6rem;
  border-radius: 3px;
}
.button-caption:hover {
  background-color: #05786E;
}
.button-caption:hover > .button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-arrow_nonactive {
  cursor: default;
  pointer-events: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif, "Montserrat", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.8rem;
}

h1 {
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  color: #00A092;
  font-size: 8.2rem;
  text-transform: uppercase;
  letter-spacing: 1%;
}

h2 {
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  color: #00A092;
  font-size: 5.4rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-size: 4.2rem;
  text-transform: uppercase;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

.two-columns {
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .two-columns {
    flex-direction: column-reverse;
    padding-left: 6rem;
    row-gap: 28px;
  }
}

.columns-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .columns-reverse {
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 6rem;
  }
}

.required {
  color: #00A092;
}

.subheader {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  line-height: 130%;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 26rem;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 4rem;
  }
}

.header {
  background-color: #F58021;
  padding: 2.8rem 0;
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__container {
    padding: 0rem 6rem;
  }
}
.header__navigation > nav {
  display: flex;
  gap: 6.8rem;
}
@media (max-width: 1200px) {
  .header__navigation > nav {
    gap: 8rem;
  }
}
.header__nav-list {
  text-transform: uppercase;
  display: flex;
  gap: 4.9rem;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__nav-list {
    gap: 3.1rem;
  }
}
.header__nav-list > li:hover {
  text-decoration: 2px underline #00A092;
}
.header__nav-list > li.active {
  pointer-events: none;
}
.header__social-media {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.active {
  color: #00A092;
}

.social-media {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.social-media:hover {
  filter: brightness(0.8);
}

.youtube {
  background: url("../../assets/icons/YouTube.svg") no-repeat center;
  background-size: contain;
}

.instagram {
  background: url("../../assets/icons/Instagram.svg") no-repeat center;
  background-size: contain;
}

.facebook {
  background: url("../../assets/icons/Facebook.svg") no-repeat center;
  background-size: contain;
}

footer {
  width: 100%;
  background-color: #20113D;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 7rem 0;
}
.footer-container__information {
  display: flex;
  justify-content: space-between;
}
.footer-container__information__partners {
  display: flex;
  justify-content: space-between;
  gap: 6.5rem;
}
@media (max-width: 1200px) {
  .footer-container__information__partners {
    gap: 3rem;
  }
}
.footer-container__information__navigation {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.footer-container__information__nav-list {
  text-transform: uppercase;
  display: flex;
  gap: 4.9rem;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer-container__information__nav-list {
    gap: 2.2rem;
  }
}
.footer-container__information__nav-list > li:hover {
  text-decoration: 2px underline #00A092;
}
.footer-container__information__donation > button {
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 24px 25px;
  box-sizing: border-box;
}
.footer-container__information__donation > button:hover {
  background-color: #00A092;
}
.footer-container__information__donation > button:hover > .button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}
.footer-container__devider {
  border-top: 2px solid #FFFFFF;
  width: 100%;
  margin-top: 29px;
}
.footer-container__contacts {
  display: flex;
  justify-content: space-between;
}
.footer-container__contacts__copyright {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.footer-container__social-media {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.partners {
  display: block;
  height: 74px;
}

.logo {
  width: 96px;
  background: url("../../../../online-zoo/assets/icons/logo-light.svg") no-repeat center;
}

.yem-digital {
  width: 50px;
  background: url("../../../../online-zoo/assets/icons/yem-digital.svg") no-repeat center;
}

.rsschool {
  width: 138px;
  background: url("../../../../online-zoo/assets/icons/rsschool.svg") no-repeat center;
}

.main {
  width: 100%;
  padding: 13rem 0;
  background-image: url("../../assets/images/main-background.png");
  background-position: left bottom;
}
@media (max-width: 1200px) {
  .main {
    padding: 10rem 0;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 90rem;
  text-align: left;
}
@media (max-width: 1200px) {
  .main__content {
    gap: 1rem;
  }
}
.main__text {
  max-width: 43rem;
  text-align: left;
  margin-bottom: 13px;
}
@media (max-width: 1200px) {
  .main__text {
    max-width: 36rem;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding: 16rem 0 15.2rem 0;
}
@media (max-width: 1200px) {
  .how-it-works {
    padding: 10rem 0 10.1rem 0;
    gap: 7.5rem;
  }
}

.description {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: left;
}
@media (max-width: 1200px) {
  .description {
    width: 53%;
    gap: 3rem;
  }
}
.description__welcome {
  padding-top: 7rem;
}
@media (max-width: 1200px) {
  .description__welcome {
    padding-top: 0rem;
  }
}
.description__eagles {
  padding-top: 11.5rem;
}
@media (max-width: 1200px) {
  .description__eagles {
    padding-top: 0;
    padding-right: 100px;
    width: 56%;
  }
}

.image {
  width: 80rem;
  height: 53rem;
}
@media (max-width: 1200px) {
  .image {
    width: 66rem;
    height: 44rem;
  }
}

.welcome {
  background-image: url("../../assets/images/welcome.svg");
}
@media (max-width: 1200px) {
  .welcome {
    background-size: contain;
  }
}

.eagles {
  background-image: url("../../assets/images/eagles.svg");
}
@media (max-width: 1200px) {
  .eagles {
    background-size: contain;
  }
}

.donation {
  background-color: #20113D;
  color: #FFFFFF;
  padding: 5rem 0 4.7rem 0;
}
.donation__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .donation__container {
    padding: 0 6rem 0 5.7rem;
  }
}
.donation__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  max-width: 64%;
}
@media (max-width: 1200px) {
  .donation__description {
    max-width: 57%;
    gap: 3rem;
  }
}
.donation__description > p {
  padding-right: 260px;
}
@media (max-width: 1200px) {
  .donation__description > p {
    padding-right: 0;
  }
}
.donation__button {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.2rem;
}
.donation__button > button:hover {
  background-color: transparent;
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 12.5rem 0 14.5rem 26rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .pets {
    padding: 10.2rem 0 14.5rem 4rem;
    gap: 5rem;
  }
}
.pets__information {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 55%;
  align-self: center;
  padding-right: 26rem;
}
@media (max-width: 1200px) {
  .pets__information {
    padding: 0 18.9rem 0 14.5rem;
    gap: 3rem;
    margin-bottom: 50px;
  }
}
.pets__information > h2 {
  padding-left: 17px;
}
@media (max-width: 1200px) {
  .pets__information > h2 {
    padding-left: 10rem;
    align-self: center;
  }
}
.pets__slider {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (max-width: 1200px) {
  .pets__slider {
    gap: 3rem;
  }
}
.pets__arrow-buttons {
  display: flex;
  justify-content: center;
  gap: 5.2rem;
  padding-right: 26rem;
}
@media (max-width: 1200px) {
  .pets__arrow-buttons {
    padding-right: 4rem;
  }
}
.pets__container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
.pets__button {
  align-self: center;
  padding-right: 26rem;
}
@media (max-width: 1200px) {
  .pets__button {
    padding-right: 4rem;
  }
}
.pets__button :hover {
  background-color: #20113D;
  color: #FFFFFF;
}

.pets__button:hover .button-arrow__dark {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.slider-slider {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 1200px) {
  .slider-slider {
    gap: 2rem;
  }
}

.slider__part-up, .slider__part-down {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}
@media (max-width: 1200px) {
  .slider__part-up, .slider__part-down {
    column-gap: 2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #20113D;
  color: #FFFFFF;
  width: 440px;
  border-radius: 5px;
  position: relative;
  align-items: center;
  padding-bottom: 5.5rem;
}
@media (max-width: 1200px) {
  .card {
    width: 455px;
    gap: 1.3rem;
    padding-bottom: 3.9rem;
  }
}
.card:hover {
  cursor: pointer;
}

.pet__name {
  background-color: #20113D;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1.3rem 2.5rem 1.3rem 3.5rem;
}
.pet__image > img {
  width: 100%;
  height: 435px;
}
.pet__description {
  padding: 0 4rem;
  height: stretch;
  margin-bottom: 1.3rem;
}
@media (max-width: 1200px) {
  .pet__description {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}
.pet__button {
  color: #F58021;
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 2rem;
  align-items: center;
}
.pet__button:hover {
  color: #FFFFFF;
  background-color: #F58021;
}

.pay-and-feed {
  background-color: #20113D;
  color: #FFFFFF;
  padding: 9rem 0;
}
@media (max-width: 1200px) {
  .pay-and-feed {
    padding: 15rem 0;
  }
}
.pay-and-feed__title {
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 10rem;
}
@media (max-width: 1200px) {
  .pay-and-feed__title {
    padding-left: 6rem;
  }
}
.pay-and-feed__content {
  display: flex;
  flex-direction: column;
  gap: 10.4rem;
}
@media (max-width: 1200px) {
  .pay-and-feed__content {
    gap: 7.5rem;
  }
}
.pay-and-feed__content:first-child .pay-and-feed__image {
  align-content: center;
  padding-top: 40px;
}
.pay-and-feed__card-content {
  display: flex;
  flex-direction: column;
  gap: 7.7rem;
}
.pay-and-feed__card-content:last-child {
  margin-top: -2.4rem;
}
@media (max-width: 1200px) {
  .pay-and-feed__card-content {
    gap: 3rem;
  }
}
.pay-and-feed__devider {
  display: flex;
  gap: 9rem;
}
@media (max-width: 1200px) {
  .pay-and-feed__devider {
    gap: 7.1rem;
  }
}
.pay-and-feed__line {
  border-top: 1px solid #FFFFFF;
  width: 100%;
  margin: 20px 0;
}
.pay-and-feed__card {
  display: flex;
  gap: 15.8rem;
}
@media (max-width: 1200px) {
  .pay-and-feed__card {
    align-items: center;
    gap: 3rem;
  }
}
@media (max-width: 1200px) {
  .pay-and-feed__image {
    padding-top: 30px;
  }
}
.pay-and-feed__image > img {
  align-self: center;
}
@media (max-width: 1200px) {
  .pay-and-feed__image > img {
    width: 102%;
  }
}
.pay-and-feed__information {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: left;
  width: 40%;
  padding-top: 13px;
}
@media (max-width: 1200px) {
  .pay-and-feed__information {
    text-align: center;
    gap: 27px;
    padding-top: 23px;
    align-items: center;
    width: 51%;
  }
}
.pay-and-feed__caption {
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .pay-and-feed__caption {
    margin-bottom: 4px;
  }
}
.pay-and-feed__icon {
  display: block;
  width: 110px;
  height: 90px;
}
.pay-and-feed__button {
  margin-top: 3rem;
  padding-left: 37px;
}
@media (max-width: 1200px) {
  .pay-and-feed__button {
    margin-top: 94px;
    align-self: baseline;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.heart {
  background: url("../../../../../online-zoo/assets/icons/heart.svg") no-repeat center;
}

.donation-icon {
  background: url("../../../../../online-zoo/assets/icons/donation-icon.svg") no-repeat center;
}

.cart-with-food {
  background: url("../../../../../online-zoo/assets/icons/cart-with-food.svg") no-repeat center;
}

@media (max-width: 1200px) {
  .pay-and-feed__content > .pay-and-feed__card-content:first-child .pay-and-feed__card .pay-and-feed__image {
    align-content: center;
    padding-top: 55px;
  }
}

@media (max-width: 1200px) {
  .pay-and-feed__content > .pay-and-feed__card-content:nth-child(2) {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .pay-and-feed__content > .pay-and-feed__card-content:last-child .pay-and-feed__card {
    align-items: start;
    padding-top: 28px;
  }
}

@media (max-width: 1200px) {
  .pay-and-feed__content > .pay-and-feed__card-content:last-child .pay-and-feed__card .pay-and-feed__information {
    padding-top: 15px;
  }
}

@media (max-width: 1200px) {
  .pay-and-feed__content > .pay-and-feed__card-content:last-child .pay-and-feed__card .pay-and-feed__image {
    padding-top: 1px;
  }
}

.what-our-users-think {
  width: 100%;
  background-image: url("../../assets/images/panda-background.png");
  background-repeat: round;
  color: #FFFFFF;
  text-align: left;
}
.what-our-users-think__section {
  padding: 11rem 0 15rem 26rem;
  display: flex;
  flex-direction: column;
  row-gap: 37.3rem;
}
@media (max-width: 1200px) {
  .what-our-users-think__section {
    padding: 5rem 0 15rem 4rem;
    row-gap: 9.3rem;
  }
}
.what-our-users-think__content {
  display: flex;
  gap: 4rem;
}
@media (max-width: 1200px) {
  .what-our-users-think__content {
    flex-direction: column;
    gap: 55px;
  }
}
.what-our-users-think__content-information {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 67%;
}
@media (max-width: 1200px) {
  .what-our-users-think__content-information {
    gap: 2rem;
    width: 50%;
  }
  .what-our-users-think__content-information > .subheader {
    padding-right: 5px;
  }
}
.what-our-users-think__header {
  color: #FFFFFF;
}
.what-our-users-think__content-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
@media (max-width: 1200px) {
  .what-our-users-think__content-navigation {
    row-gap: 10rem;
    align-items: end;
  }
}
.what-our-users-think__cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 33px;
}
@media (max-width: 1200px) {
  .what-our-users-think__cards-container {
    justify-content: end;
    column-gap: 30px;
  }
}
.what-our-users-think__card {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  background-color: #FFFFFF;
  color: #000000;
  width: 415px;
  padding: 5rem 5rem 6.5rem 5rem;
  border-radius: 5px;
}
.what-our-users-think__card__feedback {
  margin-top: -14px;
  margin-bottom: -20px;
  height: 162px;
}
.what-our-users-think__card__name {
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.what-our-users-think__card-icon {
  display: block;
  width: 60px;
  height: 50px;
  background: url("../../../../../online-zoo/assets/icons/quates.svg") no-repeat center;
}
.what-our-users-think__arrows-container {
  display: flex;
  column-gap: 5.5rem;
}
@media (max-width: 1200px) {
  .what-our-users-think__arrows-container {
    padding-right: 40px;
  }
}
@media (max-width: 1200px) {
  .what-our-users-think__button-container {
    padding-left: 95px;
  }
}
.what-our-users-think__button {
  padding: 2.5rem 7.5rem;
}

.what-our-users-think__button:hover .button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.favorit-animals {
  padding: 13.6rem 0 15rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 9.6rem;
}
@media (max-width: 1200px) {
  .favorit-animals {
    padding: 15rem 0;
    row-gap: 5rem;
  }
}
.favorit-animals__header {
  display: flex;
  flex-direction: column;
  row-gap: 5.1rem;
}
@media (max-width: 1200px) {
  .favorit-animals__header {
    row-gap: 3rem;
  }
}
.favorit-animals__header > h2 {
  padding: 0 36rem;
}
@media (max-width: 1200px) {
  .favorit-animals__header > h2 {
    padding: 0 25rem 0 29.7rem;
  }
}
.favorit-animals__header > .subheader {
  padding: 0 43rem;
}
@media (max-width: 1200px) {
  .favorit-animals__header > .subheader {
    padding: 0 23.5rem 0 35rem;
  }
}
.favorit-animals__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3.8rem;
}
@media (max-width: 1200px) {
  .favorit-animals__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 0 96px;
  }
}
.favorit-animals__container > :first-child {
  grid-column: span 2;
}
@media (max-width: 1200px) {
  .favorit-animals__container > :first-child {
    height: 470px;
    overflow: hidden;
  }
  .favorit-animals__container > :first-child > img {
    transform: scaleX(-1);
    margin-top: -115px;
  }
}
.favorit-animals__donate-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: #20113D;
  color: #FFFFFF;
  padding-bottom: 55px;
}
.favorit-animals__donate-card > p {
  padding: 0 1.7rem;
  height: 10.5rem;
}
@media (max-width: 1200px) {
  .favorit-animals__donate-card > p {
    padding: 0 2.5rem;
  }
}
.favorit-animals__donate-card:hover {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .favorit-animals__donate-card {
    padding-bottom: 37px;
  }
  .favorit-animals__donate-card > img {
    width: 100%;
    height: 372px;
    object-fit: cover;
  }
}
.favorit-animals > button {
  align-self: center;
  justify-content: center;
  gap: 20px;
  padding: 25px 35px;
}
.favorit-animals > button:hover {
  background-color: #20113D;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .favorit-animals > button {
    margin-top: 49px;
  }
}
.favorit-animals > img {
  margin-top: 5.5rem;
}
@media (max-width: 1200px) {
  .favorit-animals > img {
    margin-top: 155px;
    width: 1200px;
    margin-left: 70px;
    transform: scale(1.2);
  }
}

.favorit-animals button:hover .button-arrow__dark {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.scroll-hidden {
  overflow-y: hidden;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 28, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
}

.modal__window {
  max-width: 1200px;
  border-radius: 15px;
}

.donation-modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: start;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.donation-modal__header {
  color: #FFFFFF;
  background-color: #F58021;
  text-align: center;
  padding: 41px 231px 41px 200px;
}
.donation-modal__title {
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  padding-left: 124px;
  padding-top: 52px;
  letter-spacing: 1.7px;
}
.donation-modal__devider {
  border-top: 2px solid #A4A8AE;
  width: 100%;
  margin-top: 8px;
}
.donation-modal__content {
  padding: 41px 120px 50px 120px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
}
.donation-modal__donation-amounts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.donation-modal__text {
  letter-spacing: 1px;
}
.donation-modal__amounts {
  display: flex;
  gap: 40px;
}
.donation-modal__amount {
  background-color: rgba(0, 160, 146, 0.5);
  padding: 22px 25px;
}
.donation-modal__amount:hover {
  background-color: #05786E;
}
.donation-modal__other-amount {
  display: flex;
  gap: 45px;
}
.donation-modal__other-amount input {
  width: 147px;
  padding: 10px 25px;
  border-radius: 5px;
}
.donation-modal__other-amount input:focus {
  outline: none;
  background-color: rgba(0, 160, 146, 0.3);
}
.donation-modal__for-apecial-pet {
  display: flex;
  gap: 30px;
}
.donation-modal__for-apecial-pet select {
  width: 64%;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
}
.donation-modal__regular {
  display: flex;
  gap: 20px;
  align-items: center;
  letter-spacing: 1.2px;
}
.donation-modal__regular input {
  width: 30px;
  height: 33px;
}
.donation-modal__footer {
  display: flex;
  align-items: center;
  column-gap: 325px;
  margin-top: 9px;
}
.donation-modal__progress {
  display: flex;
  gap: 10px;
}
.donation-modal__progress-fill {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}
.donation-modal__submit {
  background-color: #00A092;
  padding: 26px 58px;
}
.donation-modal__submit:hover {
  background-color: #05786E;
}

.fill {
  background-color: #00A092;
}

.none {
  background-color: none;
  border: 1px solid #00A092;
}

/*# sourceMappingURL=style.css.map */
