@use '../../abstract/constants.scss';
@use '../../abstract/placeholders.scss';
@use '../../abstract/mixins.scss';

.pets{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 12.5rem 0 14.5rem 26rem;
  text-align: center;
  @include mixins.media-laptop {
      padding: 10.2rem 0 14.5rem 4rem;
      gap: 5rem;
    }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 55%;
    align-self: center;
    padding-right: 26rem;
    @include mixins.media-laptop {
      padding: 0 18.9rem 0 14.5rem;
      gap: 3rem;
      margin-bottom: 50px;
    }

    > h2 {
      padding-left: 17px;
      @include mixins.media-laptop {
        padding-left: 10rem;
        align-self: center;
      }
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include mixins.media-laptop {
      gap: 3rem;
    }
  }

  &__arrow-buttons {
    display: flex;
    justify-content: center;
    gap: 5.2rem;
    padding-right: 26rem;
    @include mixins.media-laptop {
      padding-right: 4rem;
    }
  }

  &__container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  &__button {
    align-self: center;
    padding-right: 26rem;
    @include mixins.media-laptop {
      padding-right: 4rem;
    }

    & :hover {
      background-color: constants.$color-background-dark;
      color: constants.$color-background-light;
    }
  }
}

.pets__button:hover .button-arrow__dark {
  background: url('../../assets/icons/arrow-right-white.svg') no-repeat center;
}


.slider-slider{
  position: relative;
  left: 0;
  @include mixins.media-laptop {
    gap: 2rem;
  }
}

.slider {
  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    position: relative;
    @extend %transition;
    width: max-content;
    @include mixins.media-laptop {
      column-gap: 2rem;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: constants.$color-background-dark;
  color: constants.$color-background-light;
  width: 440px;
  border-radius: 5px;
  position: relative;
  align-items: center;
  padding-bottom: 5.5rem;
  @include mixins.media-laptop {
    width: 455px;
    gap: 1.3rem;
    padding-bottom: 3.9rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.pet {

  &__name {
    background-color: constants.$color-background-dark;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 2;
    padding: 1.3rem 2.5rem 1.3rem 3.5rem;
  }

  &__image {
    > img {
      width: 100%;
      height: 435px;
    }

  }

  &__description {
    padding: 0 4rem;
    height: stretch;
    margin-bottom: 1.3rem;
    @include mixins.media-laptop {
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  }

  &__button {
    color: constants.$color-primary;
    font-family: constants.$font-family-semi-bold;
    font-size: 2.0rem;
    padding: 2rem;
    align-items: center;

    &:hover {
      color: constants.$color-background-light;
      background-color: constants.$color-primary;
    }
  }
}
