$color-text: #000000;
$color-background-dark: #20113D;
$color-background-light: #FFFFFF;
$color-primary: #F58021;
$color-caption: #00A092;
$color-overlay: rgba(24, 28, 41, 0.8);

$color-primary-hover: #D26004;
$color-caption-hover: #05786E;
$color-button-donation: rgba(0, 160, 146, 0.5);
$color-caption-not-active: #80CFC8;
$color-form-input-error: rgba(245, 128, 33, 0.2);
$color-form-input-focus: rgba(0, 160, 146, 0.3);
$color-devider: #A4A8AE;

$font-family-extra-bold: 'Montserrat-ExtraBold', Arial, Helvetica, sans-serif;
$font-family-semi-bold: 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
$font-family-medium: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
$font-family-regular: 'Montserrat-Regular', Arial, Helvetica, sans-serif;


$content-big-width: 1920px;
$content-small-width: 1200px;
$content-tablet-width: 1024px;
$content-mobile-width: 768px;
$content-mobile-big-width: 414px;
$content-mobile-small-width: 380px;
$content-modal-width: 920px;
