@use '../../abstract/constants';
@use '../../abstract/mixins.scss';


.map {
  padding: 39px 0 140px 0;
  display: flex;
  flex-direction: column;
  row-gap: 58px;
  align-items: center;

  &__title {
    color: constants.$color-background-dark;
    width: 530px;
  }

  &__map {
    position: relative;
    width: 100%;
    aspect-ratio: 9/6;
  }

  &__image{
    display: block;
    width: 100%;
    position: absolute;
    inset: 0;
    background: url('../../../../../online-zoo/assets/images/Map.png') center/contain no-repeat;
  }
  
}

.location {
  display: block;
}

.location.eagle {
  @include mixins.animal('eagle');
  left: 11.5%;
  top: 43%;
}

.location.alligator {
  @include mixins.animal('alligator');
  left: 20.5%;
  top: 45%;
}

.location.lion {
  @include mixins.animal('lion');
  left: 40.5%;
  top: 49.5%;
}

.location.gorilla {
  @include mixins.animal('gorilla');
  top: 52%;
  left: 48.8%
}

.location.lemur {
  @include mixins.animal('lemur');
  top: 65%;
  left: 56.1%;
}

.location.panda {
  @include mixins.animal('panda');
  top: 38.5%;
  left: 67.3%;
}

.location.tiger {
  @include mixins.animal('tiger');
  left: 72%;
  top: 55.5%;
}

.location.coala {
  @include mixins.animal('coala');
  left: 81%;
  top: 68%;
}
