.scroll-hidden {
  overflow-y: hidden;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 28, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
}

.modal__window {
  max-width: 1200px;
  border-radius: 15px;
}

.donation-modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: start;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.donation-modal__header {
  color: #FFFFFF;
  background-color: #F58021;
  text-align: center;
  padding: 41px 231px 41px 200px;
}
.donation-modal__title {
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  padding-left: 124px;
  padding-top: 52px;
  letter-spacing: 1.7px;
}
.donation-modal__devider {
  border-top: 2px solid #A4A8AE;
  width: 100%;
  margin-top: 8px;
}
.donation-modal__content {
  padding: 41px 120px 50px 120px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
}
.donation-modal__donation-amounts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.donation-modal__text {
  letter-spacing: 1px;
}
.donation-modal__amounts {
  display: flex;
  gap: 40px;
}
.donation-modal__amount {
  background-color: rgba(0, 160, 146, 0.5);
  padding: 22px 25px;
}
.donation-modal__amount:hover {
  background-color: #05786E;
}
.donation-modal__other-amount {
  display: flex;
  gap: 45px;
}
.donation-modal__other-amount input {
  width: 147px;
  padding: 10px 25px;
  border-radius: 5px;
}
.donation-modal__other-amount input:focus {
  outline: none;
  background-color: rgba(0, 160, 146, 0.3);
}
.donation-modal__for-apecial-pet {
  display: flex;
  gap: 30px;
}
.donation-modal__for-apecial-pet select {
  width: 64%;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
}
.donation-modal__regular {
  display: flex;
  gap: 20px;
  align-items: center;
  letter-spacing: 1.2px;
}
.donation-modal__regular input {
  width: 30px;
  height: 33px;
}
.donation-modal__footer {
  display: flex;
  align-items: center;
  column-gap: 325px;
  margin-top: 9px;
}
.donation-modal__progress {
  display: flex;
  gap: 10px;
}
.donation-modal__progress-fill {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}
.donation-modal__submit {
  background-color: #00A092;
  padding: 26px 58px;
}
.donation-modal__submit:hover {
  background-color: #05786E;
}

.fill {
  background-color: #00A092;
}

.none {
  background-color: none;
  border: 1px solid #00A092;
}

button, .button-arrow-background, .button-transparent:hover .button-arrow-background__primary {
  transition: all 0.3s ease-out;
}

button {
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 5px;
}

.button-primary {
  background-color: #F58021;
  padding: 26px 30px;
}
.button-primary:hover {
  background-color: #D26004;
}

.button-transparent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.button-transparent__light {
  border: 2px solid #FFFFFF;
}
.button-transparent__light:hover {
  background-color: #00A092;
  color: #FFFFFF;
}
.button-transparent__dark {
  border: 2px solid #20113D;
  color: #20113D;
  padding: 2.5rem 4rem;
}
.button-transparent__dark :hover {
  background-color: #20113D;
  color: #FFFFFF;
}
.button-transparent__text {
  padding: 0 10px;
}

.button-arrow {
  display: block;
  width: 30px;
  height: 20px;
}
.button-arrow__right {
  background: url("../../assets/icons/arrow-right.svg") no-repeat center;
}
.button-arrow__color {
  background: url("../../assets/icons/arrow-right-color.svg") no-repeat center;
}
.button-arrow__dark {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}
.button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__color {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__light {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}

.button-transparent:hover .button-arrow__dark {
  background: url("../../assets/icons/arrow-right-light.svg") no-repeat center;
}

.button-arrow-background__primary {
  background-color: #F58021;
  padding: 2.6rem;
}

.button-transparent:hover .button-arrow-background__primary {
  background-color: #D26004;
}

.arrow-navigation {
  border-radius: 5px;
}
.arrow-navigation__dark {
  background: transparent;
  border: 2px solid #20113D;
}
.arrow-navigation__dark:hover {
  background-color: #20113D;
  color: #FFFFFF;
}
.arrow-navigation__light {
  background: transparent;
  border: 2px solid #FFFFFF;
}
.arrow-navigation__light:hover {
  background-color: #FFFFFF;
  color: #20113D;
}

.arrow {
  display: block;
  width: 30px;
  height: 30px;
  padding: 15px 15px 14px 15px;
}
.arrow__left-dark {
  background: url("../../assets/icons/arrow-left-dark.svg") no-repeat center;
}
.arrow__left-dark:hover {
  background: url("../../assets/icons/arrow-left-white.svg") no-repeat center;
}
.arrow__right-dark {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}
.arrow__right-dark:hover {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}
.arrow__left-white {
  background: url("../../assets/icons/arrow-left-white.svg") no-repeat center;
}
.arrow__left-white:hover {
  background: url("../../assets/icons/arrow-left-dark.svg") no-repeat center;
}
.arrow__right-white {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}
.arrow__right-white:hover {
  background: url("../../assets/icons/arrow-right-dark.svg") no-repeat center;
}

.button-caption {
  background-color: #00A092;
  color: #FFFFFF;
  padding: 2.5rem 8.6rem;
  border-radius: 3px;
}
.button-caption:hover {
  background-color: #05786E;
}
.button-caption:hover > .button-arrow__light {
  background: url("../../assets/icons/arrow-right-white.svg") no-repeat center;
}

.button-arrow_nonactive {
  cursor: default;
  pointer-events: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif, "Montserrat", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.8rem;
}

h1 {
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  color: #00A092;
  font-size: 8.2rem;
  text-transform: uppercase;
  letter-spacing: 1%;
}

h2 {
  font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
  color: #00A092;
  font-size: 5.4rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-size: 4.2rem;
  text-transform: uppercase;
}

h5 {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  line-height: 130%;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

.two-columns {
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .two-columns {
    flex-direction: column-reverse;
    padding-left: 6rem;
    row-gap: 28px;
  }
}

.columns-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .columns-reverse {
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 6rem;
  }
}

.required {
  color: #00A092;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 26rem;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 4rem;
  }
}

/*# sourceMappingURL=modal.css.map */
