@use '../../abstract/constants.scss';
@use '../../abstract/mixins.scss';

.donation {
  background-color: constants.$color-background-dark;
  color: constants.$color-background-light;
  padding: 5rem 0 4.7rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    @include mixins.media-laptop {
      padding: 0 6rem 0 5.7rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    max-width: 64%;
    @include mixins.media-laptop {
      max-width: 57%;
      gap: 3rem;
    }

    &>p {
      padding-right: 260px;
      @include mixins.media-laptop {
        padding-right: 0;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.2rem;

    > button:hover {
      background-color: transparent;
    }
  }

}