.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding: 16rem 0 15.2rem 0;
}

.description {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: left;
  

  &__welcome {
    padding-top: 7rem;
  }

  &__eagles {
    padding-top: 11.5rem;
  }
}

.image {
  width: 80rem;
  height: 53rem;
}

.welcome {
  background-image: url('../../assets/images/welcome.svg');

}
.eagles {
  background-image: url('../../assets/images/eagles.svg');

}