@use '../../abstract/constants';

.pay-and-feed {
  background-color: constants.$color-background-dark;
  color: constants.$color-background-light;
  padding: 9rem 0;

  &__title {
    color: constants.$color-background-light;
    text-align: left;
    margin-bottom: 10rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10.4rem;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    gap: 7.7rem;

    &:last-child {
      margin-top: -2.4rem;
    }
  }

  &__devider {
    display: flex;
    gap: 9rem;
  }

  &__line {
    border-top: 1px solid constants.$color-background-light; 
    width: 100%;
    margin: 20px 0;
  }

  &__card {
    display: flex;
    gap: 15.8rem;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: left;
    width: 40%;
    padding-top: 13px;
  }

  &__caption {
    margin-bottom: 28px;
  }

  &__icon {
    display: block;
    width: 110px;
    height: 90px;
  }

  &__button {
    margin-top: 3rem;
    padding-left: 37px;
  }
}

.heart {
  background: url('../../../../../online-zoo/assets/icons/heart.svg') no-repeat center;
}

.donation-icon {
  background: url('../../../../../online-zoo/assets/icons/donation-icon.svg') no-repeat center;
}

.cart-with-food {
  background: url('../../../../../online-zoo/assets/icons/cart-with-food.svg') no-repeat center;
}

