@use '../../abstract/constants.scss';

.what-our-users-think {
  width: 100%;
  background-image: url('../../assets/images/panda-background.png');
  background-repeat: round;
  color: constants.$color-background-light;
  text-align: left;

  &__section {
    padding: 11rem 0 15rem 26rem;
    display: flex;
    flex-direction: column;
    row-gap: 37.3rem;
  }

  &__content {
    display: flex;
    gap: 4rem;
  }

  &__content-information {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 67%;
  }

  &__header {
    color: constants.$color-background-light;
  }

  &__content-navigation {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &__cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 33px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    background-color: constants.$color-background-light;
    color: constants.$color-text;
    width: 415px;
    padding: 5rem 5rem 6.5rem 5rem; 
    border-radius: 5px;

    &__feedback {
      margin-top: -14px;
      margin-bottom: -20px;
      height: 162px;
    }

    &__name {
      font-family: constants.$font-family-semi-bold;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

  }

  &__card-icon {
    display: block;
    width: 60px;
    height: 50px;
    background: url('../../../../../online-zoo/assets/icons/quates.svg') no-repeat center;
  }

  &__arrows-container {
    display: flex;
    column-gap: 5.5rem;
  }

  &__button {
    padding: 2.5rem 7.5rem;
  }
}