@use '../abstract/constants';
@use '../abstract/placeholders';
@use '../abstract/mixins';
@use './button';

*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: constants.$font-family-regular, 'Montserrat', Arial, Helvetica, sans-serif;
  color: constants.$color-text;
  font-size: 1.8rem;
}

h1 {
  font-family: constants.$font-family-extra-bold;
  color: constants.$color-caption; 
  font-size: 8.2rem;
  text-transform: uppercase;
  letter-spacing: 1%;
}

h2{
  font-family: constants.$font-family-semi-bold;
  color: constants.$color-caption; 
  font-size: 5.4rem;
  text-transform: uppercase;
}

h3 {
  font-family: constants.$font-family-medium;
  font-size: 4.2rem;
  text-transform: uppercase;
}

h5 {
  font-family: constants.$font-family-medium;
  font-size: 2.6rem;
  line-height: 130%;
}

p {
  line-height: 150%;
}

a{
  text-decoration: none;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

.two-columns {
  display: flex;
  gap: 40px;

  @include mixins.media-laptop {
    flex-direction: column-reverse;
    padding-left: 6rem;
    row-gap: 28px;
  }
}

.columns-reverse {
  flex-direction: row-reverse;
  @include mixins.media-laptop {
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 6rem;
  }
}