@use '../abstract/constants';
@use '../abstract/placeholders';

*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: constants.$font-family-regular, 'Montserrat', Arial, Helvetica, sans-serif;
  color: constants.$color-text;
  font-size: 1.8rem;
}

h1 {
  font-family: constants.$font-family-extra-bold;
  color: constants.$color-caption; 
  font-size: 8.2rem;
  text-transform: uppercase;
  letter-spacing: 1%;
}

a{
  text-decoration: none;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 26px 0;
  color: constants.$color-background-light;
  font-family: constants.$font-family-semi-bold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  @extend %transition;
}

.button-primary {
  background-color: constants.$color-primary;
  padding: 26px 30px;

  &:hover {
    background-color: constants.$color-primary-hover;
  }
}

.button-caption {
  background-color: constants.$color-caption;

  &:hover {
    background-color: constants.$color-caption-hover;
  }
}

.button-tranparent-dark {
  border-color: constants.$color-background-light;
  background-color: transparent;
  color: constants.$color-background-dark;
}

.button-arrow {
  display: block;
  width: 30px;
  height: 20px;

  &__right {
    background: url('../../assets/icons/arrow-right.svg') no-repeat center;
  }
}